/* blogStyles.css */

.blog-container {
    max-width: 750px;
    margin: auto;
    padding: 20px;
    background-color: #202020;
    color: #e5e5e5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: left;
}

.comment-section {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.comment-input {
    flex-grow: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

.comment-btn {
    background-color: #fed700;
    color: #202020;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.comments {
    margin-top: 20px;
}

.clear-comments-btn {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
